{% load cache %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% endblock head_title %}</title>
</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% cache 600 sidebar %}
    {% include 'includes/sidebar.html' %}
  {% endcache %}

  {% cache 600 nav %}
    {% include 'includes/nav.html' %}
  {% endcache %}

  {% block body %}
    {% block content %}{% endblock content %}
  {% endblock body %}
  {% block extra_body %}{% endblock extra_body %}

</body>
</html>
