{% extends 'flatpages/default.html' %}
{% load my_filters %}
{% load cache %}

{% block content %}
<h1>Все новости</h1>
<p>Всего новостей: {{ page_obj.paginator.count }}</p>

<ul>
  {% cache 300 news_list_block page_obj.number %}
  {% for post in page_obj %}
    <li>
      <a href="{% url 'news_detail' post.id %}">{{ post.title|censor }}</a><br>
      <small>{{ post.created_at|date:"d.m.Y" }}</small><br>
      <p>{{ post.text|censor|truncatechars:20 }}</p>
    </li>
  {% empty %}
    <li>Новостей пока нет.</li>
  {% endfor %}
  {% endcache %}
</ul>

<!-- Пагинация (не кэшируем, так как зависит от навигации пользователя) -->
{% if page_obj.has_previous %}
  <a href="?page=1">1</a>
  {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
  {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
  {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}
{% endif %}

{% endblock %}
